body {
    text-align: center;
    margin: 0px;
    background-color: #eeeeef;
    font-family: "Comic Sans MS";
}

.break-free {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.break-free > div {
    flex-grow: 2;
    width: 50%;
    max-width: 50%;
}
.break-free img {
    width: 100%;
    height: auto; // use this to display responsive image
}
